@using pbt.FundAccounts.Dto;
@using pbt.Web.Models.Common.Modals

@model FundAccountDto
@{
    Layout = null;
}
<div class="modal fade" id="FundAccountCreateModal" tabindex="-1" role="dialog" aria-labelledby="FundAccountCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewFundAccount")))
            <form name="fundAccountCreateForm" role="form" class="form-horizontal">
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" role="tab" href="#create-fundAccount-details">@L("ParentDetails")</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-4">
                        <div role="tabpanel" class="tab-pane container active" id="create-fundAccount-details">
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label">@L("AccountName")</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="AccountName" required>
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label">@L("AccountType")</label>
                                <div class="col-md-9">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="AccountType" id="bank" value="1" checked="checked" required>
                                        <label class="form-check-label" for="bank">@L("Bank")</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="AccountType" id="cash" value="2" required>
                                        <label class="form-check-label" for="cash">@L("Cash")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label">@L("Currency")</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="Currency" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">@L("BankName")</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="BankName">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">@L("AccountNumber")</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="AccountNumber">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">@L("AccountHolder")</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="AccountHolder">
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label">Tổng tiền dự trữ</label>
                                <div class="col-md-9">
                                    <input type="number" class="form-control" name="TotalAmount" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-9 offset-md-3">
                                    <div class="form-check">
                                        <input type="hidden" name="IsActived" id="IsActived" />
                                        <input class="form-check-input" type="checkbox" id="CheckIsActived">
                                        <label class="form-check-label" for="CheckIsActived">@L("IsActived")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </form>
        </div>
    </div>
</div>