@using pbt.Web.Models.Common.Modals
@using pbt.Web.Models.ShippingCosts;


@model ShippingCostIndexViewModel

<div class="modal fade" id="ShippingCostGroupCreateModal" tabindex="-1" role="dialog" aria-labelledby="ShippingCostGroupCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateShippingCostGroup")))
            <form role="form" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label>@L("Name")</label>

                            <input type="text" name="Name" class="form-control" required />

                        </div>
                        <div class="col-md-6">
                            <label>@L("ShippingPartner")</label>
                            <select name="ShippingPartnerId" class="form-control">
                                @if (Model.ShippingPartners != null && Model.ShippingPartners.Count > 0)
                                {
                                    foreach (var partner in Model.ShippingPartners)
                                    {
                                        <option value="@partner.Id">@partner.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>@L("FromDate")</label>
                            <div class="input-group">
                                <input type="text" class="form-control date-single" name="FromDate" target="from-date">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger btn-clear-date" target-date="FromDate" style="border: none;">
                                        <i class="fa fa-times-circle"></i>
                                    </button>
                                </div>
                            </div>
                            <input type="hidden" class="form-control float-right from-date" name="FromDateStr" value="">
                        </div>

                        <div class="col-md-6">
                            <label>@L("ToDate")</label>
                            <div class="input-group">
                                <input type="text" class="form-control date-single" name="ToDate" target="to-date">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger btn-clear-date" target-date="ToDate" style="border: none;">
                                        <i class="fa fa-times-circle"></i>
                                    </button>
                                </div>
                            </div>
                            <input type="hidden" class="form-control float-right to-date" name="ToDateStr" value="">
                        </div>
                    </div>
                </div>

                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </form>
        </div>
    </div>
</div>