@using pbt.ApplicationUtils
@using pbt.Web.Helpers
@using pbt.Web.Startup
@model pbt.Web.Models.Bags.BagDetailModel

@{
    ViewBag.Title = L("Pages_Bag_close");
    ViewBag.CurrentPageName = PageNames.Packages;
}

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Bags/Bagging.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Bags/Bagging.min.js" asp-append-version="true"></script>
    </environment>
}

@section styles
{
    <style>
        .list-group {
            max-height: 100vh;
            margin-bottom: 10px;
            overflow-y: auto;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
        }
    </style>
}

<section class="content-header">
    <div class="row">
        <div class="col-4">
            <h1>@L("Bagging")</h1>
        </div>
    </div>
</section>

<section class="content">
    <input type="hidden" name="bagId" value="@Model.Dto.Id">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs mb-3">
                            <li class="nav-item">
                                <a class="nav-link nav-bag active" data-toggle="tab" href="#home" data-type="bagging"
                                   href="#">@L("Bagging")</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-bag" data-toggle="tab" href="#profile" data-type="listbag"
                                   href="#">@L("ListBag")</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="container form-container">
                                    <h5 class="mb-1">Bao hàng</h5>
                                    <p class="text-primary">@Model.Dto.BagCode</p>

                                    <div class="form-group">
                                        <label for="scanType">Loại mã quét</label>
                                        <select class="form-control" id="scanType" name="scanType">
                                            <option value="1">Mã kiện</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="scanCode">Quét mã kiện</label>
                                        <input type="text" class="form-control" id="scanCode" placeholder="Mã kiện">
                                    </div>

                                    <div class="form-group">
                                        <label for="packageWeight">Cân nặng bao (Kg)</label>
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" value="@Model.Dto.Weight"
                                                       id="packageWeight" placeholder="Nhập cân nặng bao">
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-check">
                                                    @if (Model.Dto.IsWeightCover)
                                                    {
                                                        <input class="form-check-input" type="checkbox" data-value="@Model.BagCoverWeight" id="packageCheck" checked="checked">
                                                    }
                                                    else
                                                    {
                                                        <input class="form-check-input" type="checkbox" data-value="@Model.BagCoverWeight" id="packageCheck">
                                                    }
                                                    <label class="form-check-label" for="packageCheck">Bì</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.Dto.IsClosed)
                                    {
                                        <a id="listBaging" href="/Bags/Pending"
                                           class="btn btn-primary">@L("Pages_Bags_Pending")</a>
                                        <button class="btn btn-primary" id="printStamp">In tem bao</button>
                                        <button class="btn btn-primary" id="createSimilarBag">Tạo bao tương tự</button>
                                    }
                                    else
                                    {
                                        <button id="ending-packing" disabled="disabled"
                                                class="btn btn-primary">
                                            @L("EndOfBagging")
                                        </button>
                                    }
                                    <hr />

                                    <form id="fmEditBag">
                                        <h5 class="section-title mt-2">Thông tin bao hàng</h5>
                                        <div class="">
                                            <button type="button" class="btn btn-sm btn-primary" id="editBag">Sửa</button>
                                            <button type="button" class="btn btn-sm btn-danger d-none"
                                                    id="CancelBag">
                                                @L("Cancel")
                                            </button>
                                            <button type="button" class="btn btn-sm btn-success d-none"
                                                    id="saveBag">
                                                @L("Save")
                                            </button>
                                        </div>
                                        <div class="form-group">
                                            <label for="packageType">Loại bao</label>
                                            <select class="form-control" id="BagType" asp-for="Dto.BagType" readonly>
                                                <option value="1">Bao riêng</option>
                                                <option value="2">Bao ghép</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="customer">Khách hàng</label>
                                            @Model.Dto.Customer?.Username
                                            <select data-value="@Model.Dto.CustomerId" class="form-control select2" id="customer" asp-for="Dto.CustomerId" readonly>
                                                <option value="@Model.Dto.CustomerId">@Model.Dto.Customer?.Username</option>
                                            </select>

                                        </div>
                                        @* <div class="form-group"> *@
                                        @*     <label for="size">Kích thước bao</label> *@
                                        @*         <select class="form-control" id="size" asp-for="@Model.Dto.BagSize" readonly> *@
                                        @*         <option value="2">Bao lớn</optiFon> *@
                                        @*         <option value="1">Bao nhỏ</option> *@
                                        @*     </select> *@
                                        @* </div> *@
                                        <div class="form-group">
                                            <label for="dimensions">Kích thước (cm)</label>
                                            <div class="form-row" id="dimensions">
                                                <div class="col">
                                                    <input type="number" class="form-control" asp-for="@Model.Dto.Length" placeholder="Dài" readonly>
                                                </div>
                                                <div class="col">
                                                    <input type="number" class="form-control" asp-for="@Model.Dto.Width" placeholder="Rộng" readonly>
                                                </div>
                                                <div class="col">
                                                    <input type="number" class="form-control" asp-for="@Model.Dto.Height" placeholder="Cao" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Tổng cân nặng kiện</label>
                                            <p class="weight-display" id="totalPackageWeight">
                                                @(Model.Dto.WeightPackages.HasValue? Model.Dto.WeightPackages.Value.ToString("N2", new System.Globalization.CultureInfo("vi-VN")) : "0") (kg)
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label for="specialProperty">Đặc tính</label>
                                            <div>
                                                <div class="form-check ">
                                                    <input class="form-check-input" type="checkbox" asp-for="Dto.IsSolution" id="isSolution" disabled="disabled">
                                                    <label class="form-check-label" for="isSolution">@L("Solution")</label>
                                                </div>
                                                <div class="form-check ">
                                                    <input class="form-check-input" type="checkbox" asp-for="Dto.IsWoodSealing" id="isWoodSealing" disabled="disabled" value="true">
                                                    <label class="form-check-label" for="isWoodSealing">@L("WoodSealing")</label>
                                                </div>
                                                <div class="form-check ">
                                                    <input class="form-check-input" type="checkbox" asp-for="Dto.IsFakeGoods" id="isFakeGoods" disabled="disabled" value="true">
                                                    <label class="form-check-label" for="isFakeGoods">@L("FakeGoods")</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" asp-for="Dto.IsOtherFeature" id="isOtherFeature" disabled="disabled" value="true">
                                                    <label class="form-check-label" for="isOtherFeature">@L("Other")</label>
                                                    <input type="text" asp-for="Dto.otherReason" class="form-control d-none ml-2" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        @* <div class="form-group"> *@
                                        @*     <label for="service">Dịch vụ</label> *@
                                        @*     <p>-</p> *@
                                        @* </div> *@
                                        <div class="form-group">
                                            <label for="originWarehouse">Kho tạo</label>
                                            <p>@Model.Dto.WarehouseCreate.Name</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="destinationWarehouse">Kho đích</label>
                                            <select class="form-control" id="warehouseDestinationId" asp-for="Dto.WarehouseDestinationId" readonly>
                                                @foreach (var warehouse in Model.destinationWarehouses)
                                                {
                                                    if (Model.Dto.WarehouseDestinationId == warehouse.Id)
                                                    {
                                                        <option value="@warehouse.Id" selected>@warehouse.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@warehouse.Id">@warehouse.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="transportType">Line vận chuyển</label>
                                            <select class="form-control" id="transportType" readonly>
                                                <option value="@((int)LineShipping.Ecommerce)" selected>@L("Ecommerce")</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="ShippingPartnerId">@L("ShippingPartner")</label>
                                            <select class="form-control" id="ShippingPartnerId" readonly asp-for="Dto.ShippingPartnerId">
                                                @if (Model.ShippingPartnerDtos != null)
                                                {
                                                    @foreach (var shippingPartnerDto in Model.ShippingPartnerDtos)
                                                    {
                                                        @if (Model.Dto.ShippingPartnerId == shippingPartnerDto.Id)
                                                        {
                                                            <option value="@shippingPartnerDto.Id" selected>@shippingPartnerDto.Name</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@shippingPartnerDto.Id">@shippingPartnerDto.Name</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="receiver">Người nhận</label>
                                            <input type="text" class="form-control" id="receiver" asp-for="Dto.Receiver" placeholder="@L("Receiver")" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="receiver">Ghi chú</label>
                                            <textarea rows="5" type="text" class="form-control" id="note" asp-for="Dto.Note" placeholder="@L("Note")" readonly></textarea>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="list-group" id="list-closed-bag">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <label>Danh sách kiện trong bao (<span id="totalPackage"></span>) </label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="table-responsive">
                                <table id="PackagesBagTable" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>@L("PackageNumber")</th>
                                            <th>@L("TrackingNumber")</th>
                                            <th>@L("Customer")</th>
                                            <th>@L("Weight")</th>
                                            <th>@L("Volume")</th>
                                            <th>@L("Description")</th>
                                            <th>@L("CreationTime")</th>
                                            <th>@L("MatchTime")</th>
                                            <th>@L("DeliveryTime")</th>
                                            <th>@L("WarehouseStatus")</th>
                                            <th>@L("ShippingStatus")</th>
                                            <th style="width: 30px"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Bags/_PrintStamp.cshtml")
</section>
