@using pbt.ApplicationUtils
@using pbt.Web.Startup
@using pbt.Authorization
@model pbt.Web.Models.Bags.BagDetailModel
@{
    ViewBag.Title = L("Bags");
    ViewBag.CurrentPageName = PageNames.Packages;
}

@section scripts
{
    <script>
        var bagId = '@Model.Dto.Id';
    </script>

    <environment names="Development">
        <script src="~/view-resources/Views/Bags/Detail.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Bags/Detail.min.js" asp-append-version="true"></script>
    </environment>
}

<style>
    .log-box {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        background-color: #f9f9f9;
        max-height: 400px;
        overflow-y: auto;
    }

    .log-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

        .log-item img {
            margin-left: 4px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .log-item .log-content {
            flex-grow: 1;
        }

        .log-item .log-time {
            font-size: 0.9rem;
            color: #888;
        }

        .log-item .log-text strong {
            font-weight: bold;
        }
</style>
<section class="content-header">
    <input type="hidden" name="bagId" value="@Model.Dto.Id">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("BagsDetail") #@Model.Dto.BagCode - @Model.Dto.Receiver </h1>
            </div>
            <div class="col-sm-6 text-right">
                <button type="button" class="btn btn-default" id="printStamp">In tem</button>
                @if (PermissionChecker.IsGranted(PermissionNames.Function_BagCreate))
                {
                    <button type="button" id="createSimilarBag" class="btn btn-default" data-id="@Model.Dto.Id">Tạo bao tương tự</button>
                    <a href="/Bags/Create" class="btn btn-default">Tạo bao</a>
                }

                @if (PermissionChecker.IsGranted(PermissionNames.Function_BagDelete)
                                && (Model.Dto.ShippingStatus == (int)BagShippingStatus.Initiated
                                || Model.Dto.ShippingStatus == (int)BagShippingStatus.WaitingForShipping
                                || Model.Dto.ShippingStatus == (int)BagShippingStatus.InTransit
                                )
                                )
                {
                    <button type="button" class="btn btn-danger btn-delete" data-id="@Model.Dto.Id" data-name="@Model.Dto.BagCode">Xóa bao</button>
                }
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-9">
                <h4>Thông tin bao hàng</h4>
                <div class="card">
                    <div class="card-body" style="border-top: 4px solid #2b4df3">
                        <div class="row">
                            <div class="col-sm-2">
                                <span>Line vận chuyển</span>
                                <span class="d-block">
                                    <strong>
                                        @(((LineShipping)Model.Dto.ShippingType).GetDescription())
                                    </strong>
                                </span>
                            </div>
                            <div class="col-sm-2">
                                <span>Đối tác vận chuyển</span>
                                <span class="d-block">
                                    <strong>
                                        @Model.Dto.ShippingPartner?.Name
                                    </strong>
                                </span>
                            </div>
                            <div class="col-sm-2">
                                <span>Kho đích</span>
                                <span class="d-block"><strong>@Model.Dto.WarehouseDestinationName</strong></span>
                            </div>
                            <div class="col-sm-3">
                                <span>Thời gian tạo</span>
                                <span class="d-block"><strong>@Model.Dto.CreationTimeFormat</strong></span>
                            </div>
                            <div class="col-sm-3">
                                <span>Thời gian xuất/nhập</span>
                                <span class="d-block"><strong></strong></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body" style="border-top: 4px solid #009fa3">
                        <div class="row">
                            <div class="col-sm-2">
                                <span>Trạng thái</span>
                                <span class="d-block"><strong>@(((BagShippingStatus)Model.Dto.ShippingStatus).GetDescription())</strong></span>
                            </div>
                            <div class="col-sm-2">
                                <span>Trạng thái kho hiện tại</span>
                                <span class="d-block">
                                    <strong>
                                        @(Model.Dto.WarehouseStatus != null ? ((WarehouseStatus)Model.Dto.WarehouseStatus).GetDescription() : "")
                                    </strong>
                                </span>
                            </div>
                            <div class="col-sm-2">
                                <span>Cân nặng bao</span>
                                <span class="d-block"><strong id="bagWeight">@Model.Dto.Weight</strong></span>
                            </div>
                            <div class="col-sm-2">
                                <span>Tổng cân nặng kiện</span>
                                <span class="d-block font-weight-bold" id="TotalWeightPackage"><strong>@Model.Dto.WeightPackage</strong></span>
                            </div>
                            <div class="col-sm-2">
                                <span>Thể tích (m3)</span>
                                <span class="d-block"><strong></strong></span>
                            </div>

                            <div class="col-sm-2">
                                <span>Khu vực đến</span>
                                <span class="d-block">
                                    <strong>
                                        @Model.Dto.WarehouseDestinationName
                                    </strong>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body" style="border-top: 4px solid #a30049">
                        <div class="row">
                            <div class="col-sm-6">
                                <span>Dịch vụ</span>
                                @if (Model.Dto.IsSolution)
                                {
                                    <span class="d-block"><strong>@L("Solution")</strong></span>
                                }
                                @if (Model.Dto.IsWoodSealing)
                                {
                                    <span class="d-block"><strong>@L("WoodSealing")</strong></span>
                                }
                                @if (Model.Dto.IsFakeGoods)
                                {
                                    <span class="d-block"><strong>@L("FakeGoods")</strong></span>
                                }
                                @if (Model.Dto.IsOtherFeature)
                                {
                                    <span class="d-block"><strong>@L("OtherFeature")</strong></span>
                                    <span class="d-block"><strong>@Model.Dto.otherReason</strong></span>
                                }
                            </div>
                            <div class="col-sm-6">
                                <span>Note</span>
                                <span class="d-block"><strong>@Model.Dto.Note</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <label>Danh sách kiện trong bao (<span id="totalPackage">1</span>) </label>
                            </div>
                            <div class="col-sm-4 text-right">
                                <button class="btn btn-default">Xuất chi tiết bao</button>
                                @if (PermissionChecker.IsGranted(PermissionNames.Function_BagEdit))
                                {
                                    if (Model.Dto.IsClosed)
                                    {
                                        <a href="/bags/bagging/@Model.Dto.Id" class="btn btn-primary">Sửa bao</a>
                                    }
                                    else
                                    {
                                        <a href="/bags/bagging/@Model.Dto.Id" class="btn btn-primary">Quét kiện vào bao</a>
                                    }
                                }
                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="table-responsive">
                                <table id="PackagesPendingTable" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>@L("PackageNumber")</th>
                                            <th>@L("TrackingNumber")</th>
                                            <th>@L("Customer")</th>
                                            <th>@L("Weight")</th>
                                            <th>@L("Volume")</th>
                                            <th>@L("Description")</th>
                                            <th>@L("CreationTime")</th>
                                            <th>@L("CurrentWarehouse")</th>
                                            <th>@L("DeliveryTime")</th>
                                            <th>@L("WarehouseStatus")</th>
                                            <th>@L("ShippingStatus")</th>
                                            <th style="width: 150px">@L("Actions")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
              

                <div class="card">
                    <div class="card-header">
                        <label>Log hành động</label>
                    </div>
                    <div class="card-body">
                        <div id="bag-logs" class="list-group overflow-auto" style="max-height: 400px;">
                        </div>
                    </div>
                </div>

               @*  <div class="card">
                    <div class="card-header">
                        <label>Danh sách bao cùng ngày</label>
                    </div>
                    <div class="card-body" style="padding: 0.25rem;">
                        <ul class="list-group overflow-auto shadow" id="list-bag-today" style="padding: 0.25rem;">
                            <li class="list-group-item active"><a href=""></a></li>
                        </ul>
                    </div>
                </div> *@
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
    </div>
</section>
@await Html.PartialAsync("~/Views/Bags/_PrintStamp.cshtml")
