@using Microsoft.AspNetCore.Mvc.TagHelpers
@using pbt.ApplicationUtils
@using pbt.Web.Helpers
@model pbt.Web.Models.WarehouseTransfers.WarehouseTransferIndexViewModel

<div class="abp-advanced-search">
    <button class="btn btn-outline-primary mb-2" type="button" data-toggle="collapse" data-target="#FilterCollapse">
        <i class="fas fa-filter"></i> @L("AdvancedFilter")
    </button>
    <div class="collapse" id="FilterCollapse">
        <form id="SearchForm" class="form-horizontal" onsubmit="return false;">
            <div class="form-row ">
                <div class="col-md-3">
                    <label for="Keyword">Từ khóa</label>
                    <input type="text" name="Keyword" class="form-control txt-search" placeholder="@L("Search")" />
                </div>

                <div class="col-md-3">
                    <label>@L("FromWarehouse")</label>
                    <select class="select2 form-control" id="CustomerSelect" name="FromWarehouseId" style="width: 100%;">
                        <option value="-1">-- @L("All") --</option>
                        @if (Model != null && Model.Warehouses != null)
                        {
                            foreach (var warehouse in Model.Warehouses)
                            {
                                <option value="@warehouse.Id">@warehouse.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label>@L("ToWarehouse")</label>
                    <select class="select2 form-control" id="CustomerSelect" name="FromWarehouseId" style="width: 100%;">
                        <option value="-1">-- @L("All") --</option>
                        @if (Model != null && Model.Warehouses != null)
                        {
                            foreach (var warehouse in Model.Warehouses)
                            {
                                <option value="@warehouse.Id">@warehouse.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label>@L("Status")</label>
                    <select class="select2 form-control" id="Status" name="Status" style="width: 100%;">
                        <option value="-1">-- @L("All") --</option>
                        <option value="@((int)WarehouseTransferStatusEnum.New)"> @L("WarehouseTransferStatusEnum.New") </option>
                        <option value="@((int)WarehouseTransferStatusEnum.InTransit)"> @L("WarehouseTransferStatusEnum.InTransit") </option>
                        <option value="@((int)WarehouseTransferStatusEnum.Received)"> @L("WarehouseTransferStatusEnum.Received") </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>@L("Customer")</label>
                    <div class="input-group">
                        <select class="select2 form-control" id="CustomerSelect" name="CustomerId" style="width: 100%;">
                            <option value="-1">-- @L("All") --</option>
                            @if(Model != null && Model.Customers != null)
                            {
                       
                                foreach (var customer in Model.Customers)
                                {
                                    <option value="@customer.Id">@customer.Username</option>
                                }
                            }
                        </select>

                    </div>
                </div>
                <div class="col-md-3">
                    <label for="CreateDate">@L("CreateDate")</label>
                    <div class="input-group">
                        <input type="text" class="form-control date-range" name="CreateDate" id="CreateDate" target="create-date">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-danger btn-clear-value" target="CreateDate" target-date="create-date" style="border: none;">
                                <i class="fa fa-times-circle"></i>
                            </button>
                        </div>
                    </div>
                    <input type="hidden" class="form-control float-right start-date create-date" name="CreateStartDateStr" id="start-create-date">
                    <input type="hidden" class="form-control float-right end-date create-date" name="CreateEndDateStr" id="end-create-date">
                </div>
                <div class="col-md-12 text-right">
                    <label style="display: block" for="">&nbsp;</label>
                    <button type="button" style="width: auto" class="btn btn-primary btn-search form-control">
                        <i class="fas fa-search"></i> @L("Search")
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
