@using pbt.Packages.Dto
@using pbt.ApplicationUtils
@model List<PackageDto>
@{
    var status = new Dictionary<int, (string text, string color)>
        {
            { 0, ("Thiếu thông tin", "danger") },
            { 1, ("Khởi tạo", "secondary") },
            { 2, ("Đang vận chuyển", "info") },
            { 3, ("Chờ vận chuyển", "warning") },
            { 4, ("Đang VCQT", "primary") },
            { 5, ("Đã về kho VN", "info") },
            { 6, ("Chờ giao hàng", "warning") },
            { 7, ("Yêu cầu giao hàng", "info") },
            { 8, ("Đang giao hàng", "info") },
            { 9, ("Đã giao", "success") },
            { 10, ("Hoàn thành", "success") },
            { 11, ("Chờ trả hàng", "warning") },
            { 12, ("Đang trả hàng", "primary") },
            { 13, ("Đã trả hàng", "success") },
            { 14, ("Khách không nhận", "danger") },
            { 15, ("Chờ thông quan", "warning") },
            { 16, ("Đã thông quan", "success") }
        };
}

<table class="table table-striped table-bordered table-package table-child">
    <thead>
        <tr>
            <th colspan="2">Mã kiện</th>
            <th width="150px">Mã bao</th>
            <th width="80px">Trạng thái</th>
            <th>Cân nặng</th>
            <th>Thể tích</th>
            <th>Giá cước</th>
            <th>Phí đóng gỗ</th>
            <th>Phí chống sốc</th>
            <th>Phí ship nội địa</th>
            <th>Bảo hiểm</th>
            <th>Tổng chi phí</th>
            <th>@L("TimeLine")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            var _i = 1;
            foreach (var item in Model)
            {
                <tr>
                    @if (_i == 1)
                    {
                        <td rowspan="@Model.Count"> </td>
                    }
                    <td>@item.PackageNumber</td>
                    <td>
                        <span>@item.BagNumber</span>
                    </td>
                    <td>
                        @if (status.ContainsKey(item.ShippingStatus))
                        {
                            <span class="badge badge-@status[item.ShippingStatus].color">@status[item.ShippingStatus].text</span>
                        }
                    </td>
                    <td>
                        @item.Weight
                    </td>
                    <td align="right">
                        @( (item.Width ?? 0)  * (item.Height ??  0) * (item.Length ?? 0)/ 1000000)
                    </td>
                    <td align="right">
                        @item.TotalFee.ToCustomNumberFormat()
                    </td>
                    <td align="right">
                        @item.WoodenPackagingFee.ToCustomNumberFormat()
                    </td>

                    <td align="right">
                        @item.ShockproofFee.ToCustomNumberFormat()
                    </td>
                    <td align="right">
                        @item.DomesticShippingFee.ToCustomNumberFormat()
                    </td>
                    <td align="right">
                        @item.InsuranceFee.ToCustomNumberFormat()
                    </td>
                    <td align="right">
                        @item.TotalPrice.ToCustomNumberFormat()
                    </td>

                    <td align="left">
                        @{
                            // Ngày tạo
                            var creationTime = item.CreationTime != null ? item.CreationTime.ToString("dd/MM/yyyy HH:mm") : "-";
                            // Ngày xuất kho TQ
                            var exportDate = item.ExportDate != null ? item.ExportDate?.ToString("dd/MM/yyyy HH:mm") : "-";
                            // Ngày nhập kho VN
                            var importDate = item.ImportDate != null ? item.ImportDate?.ToString("dd/MM/yyyy HH:mm") : "-";
                        }

                        <div>
                            <strong>@L("CreationTime"):</strong> @creationTime
                        </div>
                        <div>
                            <strong>@L("ExportDateCN"):</strong> @exportDate
                        </div>
                        <div>
                            <strong>@L("ImportDateVN"):</strong> @importDate
                        </div>
                    </td>
                    <td align="right">
                    </td>
                </tr>
                _i++;
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">@L("NoPackagesFound")</td>
            </tr>
        }
    </tbody>
</table>

