<div class="abp-advanced-search">
    <form id="ComplaintSearchForm" class="form-horizontal">
        <div class="input-group">
            <div class="d-flex gap-2 mb-2 w-100">
                <!-- Phần tìm kiếm mã vận đơn vẫn ở bên trái -->
                <input type="text" name="Keyword" class="form-control txt-search" placeholder="@L("InputOrderNumberOrComplaintCode")" />

                <!--code here-->
                <select class="form-control" name="Status" id="select-status">
                    <option value="-1">@L("SelectStatus")</option>
                    <option value="1">@L("Pending")</option>
                    <option value="2">@L("InProgress")</option>
                    <option value="3">@L("Refunded")</option>
                    <option value="4">@L("Rejected")</option>
                </select>

                <!-- Phần chứa input date range và button tìm kiếm di chuyển sang bên phải -->
                <div class="d-flex gap-2 ms-auto">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="far fa-calendar-alt"></i>
                        </span>
                    </div>

                    <!-- Đảm bảo input date range có đủ chiều rộng -->
                    <input type="text" class="form-control" name="dateRange" id="input-date-range" style="min-width: 200px;">

                    <button type="button" class="btn bg-blue btn-search">
                        <span class="fas fa-search" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>

        <input type="hidden" class="form-control float-right" name="StartDateStr" id="start-date">
        <input type="hidden" class="form-control float-right" name="EndDateStr" id="end-date">
    </form>
</div>
